<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    Hello World with EJS using template engine.
    <div>
      <img class="hoibinh" src="/images/dog2.jpg" alt="" />
    </div>
  </body>
</html>
